<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link rel="stylesheet" href="/fonts/css/fontawesome.css" />
    <link rel="stylesheet" href="/fonts/css/brands.css" />
    <link rel="stylesheet" href="/fonts/css/solid.css" />
    <link rel="stylesheet" href="/Content/org.css" />

    <script type="text/javascript" src="/Scripts/jquery-3.4.1.js"></script>

    <script type="text/javascript" src="/Scripts/_svg.js?v="></script>
    <script type="text/javascript" src="/Scripts/_form.js?v="></script>
    <script type="text/javascript" src="/Scripts/_token.js?v="></script>
    <link rel="stylesheet" href="/Content/Site.css?v=" />

</head>
